.parent-login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(99deg, #ff70a6, #ff9770 40%, #ffd670 73%, #e9ff70);
}

.login-box{
    background-image: linear-gradient(128deg,rgba(64,61,57,.1),hsla(0,0%,100%,.2));
    box-shadow: 0 10px 20px 0
    rgba(0, 0, 0, 0.1), 0 6px 6px 0 
    rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width:496px;
    height:392px;
    border-radius: 8px;
}
.logo{
    width: 100%;
    height:75%;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.winky-guy{
    width: 120px;
    margin-top:34px;
}
.Helo {
    font-weight: 700;
    font-family: sans-serif;
    margin-top: 10px;
    font-size: 100px;
    color:#fff;
}

.click-me{
    font-weight: 400;
    color: #fff;
    height: 100%;
    width:100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.button-container{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.button{
    background-color: #403d39;
    font-family: sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius:3px;
    height: 45px;
}